fieldset.form-add {
    width: 100%;
    max-width: 700px;
    margin: 30px auto 0 auto;
    padding: 10px 20px 20px 20px;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}

.form-add:hover {
    box-shadow: 0 12px 40px rgba(41, 211, 232, 0.05);
}

.form-add legend,
legend h3 {
    font-weight: bold;
    color: var(--fg);
}

/* ************************** */

#extras {
    margin: 100px auto 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    max-width: 700px;
}

#extras form {
    margin: 0;
    width: 100%;
}

#extras button {
    background-color: var(--card);
    text-align: center;
    padding: 8px;
    width: 100%;
}

#extras button:hover {
    color: var(--aviso);
}

button input {
    color: var(--aviso);
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    text-align: center;
    border: none;
    width: 4ch;
}