@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg: #0d141b;
    --card: #141A21;
    --fg: #D8E1E8;
    --text: #adb2b4;

    --primaria: #29D3E8;
    --primaria2: #16c4d3;

    --sucesso: #33e583;
    --aviso: #F5C039;
    --erro: #FF4C4C;
    --desativado: #CCCCCC;

    --border: #22303B;
    --border-focus: #29D3E8;

    --input-focus: rgba(16, 30, 37);
    --input-static: rgba(34, 48, 59, 0.7);
    --input-disabled: rgba(34, 48, 59, 0.3);

    --sombra: rgba(41, 211, 232, 0.4);
    --sombra2: rgba(245, 192, 57, 0.4);
    --sombra-card: rgba(0, 0, 0, 0.2);

    --msg-bg: rgba(0, 0, 0, 0.4);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background-color: var(--bg);
    color: var(--fg);
}

div {
    background-color: transparent;
}

p, span, small {
    background-color: transparent;
    color: inherit;
}

/************************ FEEDBACK ************************/

.erro {
    border-color: var(--erro)!important;
    color: var(--erro)!important;
}

.sucesso {
    border-color: var(--sucesso)!important;
    color: var(--sucesso)!important;
}

div.msg span {
    font-size: 40px;
}

div.msg {
    background-color: var(--msg-bg);
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 40px;
    padding: 24px 20px;
    backdrop-filter: blur(8px);
}

/************************ INPUTS ************************/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form > fieldset{
    width: 100%;
}
form > div{
    width: 70%;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    padding: 0 20px;
}

fieldset {
    padding: 10px 12px;
    border-radius: 6px;
    border: 2px solid var(--border);
    transition: border-color 0.3s ease;
    margin: 24px 20px;
}

fieldset:hover {
    border-color: var(--border-focus);
}

fieldset legend {
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
}

div.campo {
    display: flex;
    flex-direction: column;
    margin: 24px 20px;
    gap: 4px;
}

.campo input[type="text"],
.campo input[type="number"],
.campo input[type="date"],
.campo input[type="file"],
.campo input[list],
.campo textarea {
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 2px solid var(--border);
    background-color: var(--card);
    color: var(--fg);
    width: 100%;
}

.campo input[type="text"]:focus,
.campo input[type="number"]:focus,
.campo input[type="date"]:focus,
.campo input[list]:focus,
.campo textarea:focus {
    border-color: var(--border-focus);
    outline: none;
    background-color: var(--input-focus);
}

textarea{
    height: 150px;
    resize: vertical;
    line-height: 1.5;
}

/******* INPUT BOTOES *******/

div#botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin: 32px 0 16px 0;
    padding-top: 20px;
    border-top: 2px solid var(--border);
}

input[type=submit],
input[type=reset],
button {
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    flex-grow: 1;
}

label {
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    padding: 0 0 2px 6px;
}

input[type=submit] {
    background-color: var(--primaria);
    color: var(--bg);
    font-weight: 1000;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--primaria2);
    box-shadow: 0 4px 12px var(--sombra);
    transform: translateY(-3px);
}

input[type=reset] {
    background-color: var(--aviso);
    color: var(--bg);
    font-weight: 1000;
    cursor: pointer;
}

input[type=reset]:hover {
    box-shadow: 0 4px 12px var(--sombra2);
    transform: translateY(-3px);
}

/******* INPUT RADIO/CHECKBoX *******/

input[type="radio"],
input[type="checkbox"]{
    accent-color: var(--primaria);
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.campo.check{
    align-items: center;
    flex-direction: row!important;
}

fieldset.condicao {
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    align-items: center;
}

label:has(input) {
    color: var(--text);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 400px;
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: transparent;
}

label:has(input:checked) {
    color: var(--primaria);
    font-weight: bold;
}

label input{
    transform: translate(0, 2px);
    margin: 0 2px;
}

.condicao div:hover,
.condicao label:hover,
.condicao input:hover,
.check label:hover {
    background-color: var(--input-focus);
}

/********************** LINKS ***********************/

a {
    color: var(--primaria);
    text-decoration: none;
    margin: 2px;
}

a:hover {
    color: var(--primaria2);
}

.remover {
    color: var(--erro);
}

.remover:hover {
    color: var(--aviso);
}

/********************** MENU **********************/

ul.menu {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 18px;
    list-style: none;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--bg);
    margin-bottom: 10px;
    box-shadow: 0 3px 10px var(--sombra);
}

.menu li {
    min-width: 30%;
}

.menu a {
    color: var(--fg);
    text-align: center;
    font-weight: Bold;
    height: 96%;
    display: block;
    padding:10px;
    margin: 0;
}

.menu a.current {
    font-weight: bolder!important;
    color: var(--bg)!important;
    background-color: var(--primaria)!important;
}

.menu a:hover {
    color: var(--fg);
    background-color: var(--input-focus);
}

/************************** RESPONSIVIDADE **************************/

@media (max-width: 768px) {
    ul.menu {
        flex-direction: column;
        font-size: 16px;
        box-shadow: 0 1px 1px var(--sombra);
        position: relative;
    }

    .menu li {
        width: 100%;
    }

    .menu a {
        padding: 12px;
    }

    form > fieldset,
    form > div {
        width: 95%;
    }

    form:not(#extras form) {
        padding: 4px!important;
        margin: 30px 0!important;
    }

    fieldset {
        margin: 20px 10px;
        padding: 8px 10px;
    }

    div.campo,
    fieldset.condicao {
        margin: 20px 2px;
    }

    div.msg {
        margin: auto auto;
        left: 0px;
        bottom: 10px;
        width: 100%;
        padding: 16px 14px;
    }

    div.msg span {
        font-size: 28px;
    }

    div#botoes {
        flex-direction: column;
    }

    input[type=submit],
    input[type=reset],
    button {
        width: 100%;
        padding: 12px 20px;
    }
}