/************************** LINKS **************************/

/********** Link Novo Produto **********/

#add-novo {
    padding: 12px 24px;
    background-color: var(--primaria);
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--bg);
    transition: all 0.3s ease;
}

#add-novo:hover {
    background-color: var(--primaria2);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(41, 211, 232, 0.4);
}

/********** Links Paginas **********/

div#paginas{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    width: 100%;
}

a.pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--primaria);
    color: var(--bg);
    padding: 5px;
    margin: 0;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
}

a.pagina.atual {
    background-color: var(--text);
    cursor: default;
}

a.pagina:hover:not(.atual){
    background-color: var(--aviso);
}

/********** Links Detalhes/Delete **********/

.material-symbols-outlined {
    background-color: transparent;
    font-size: 24px;
    transition: transform 0.2s ease;
}

.material-symbols-outlined:hover {
    transform: scale(1.2);
}

/************************** FORM **************************/
#form-filtros {
    background-color: var(--card);
    padding: 30px 0px 25px 0;
}

div.filtros {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px 40px;
}

.filtros .campo {
    margin: 0;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
}

div#botoes {
    border-top: none;
    justify-content: right;
    padding: 30px 0 0 0px;
    margin: 0;
}

#botoes * {
    border-radius: 16px;
    flex: 0;
}

/************************** PRODUTOS **************************/

div#tabela {
    margin: auto;
    width: 75%;
    min-width: 720px;
    gap: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#produtos-lista {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.produto-container {
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid var(--border);
    border-radius: 20px;
    background-color: var(--card);
}
    
.produto-container:hover {
    background-color: var(--input-focus);
    border-color: var(--border-focus);
}

.produto-container:hover * {
    cursor: inherit;
}

.produto {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
    align-items: center;
    min-height: 80px;
    padding: 10px 20px;
}
        
.produto > * {
    text-align: left;
    text-wrap: wrap;
    flex: 2;
    height: 100%;
}

.produto .nome {
    flex: 4;
}

.produto .preco {
    flex: 1;
}

.produto a {
    flex: 0;
}

/********************** DETALHES DO PRODUTO **********************/

.produto-detalhes {
    z-index: -10;
    width: 100%;
    margin-top: -15px;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    border: solid var(--border);
    border-width: 1px 1px 1px 1px;
}

.produto-detalhes input {
    background-color: transparent!important;
    border-width: 0 0 1px 0!important;
}

.produto-detalhes > div {
    flex-direction: row;
    align-items: center;
}

.produto-detalhes .campo {
    margin: 4px 0;
}

.produto-detalhes label:not(label:has(input)){
    font-weight: bold;
    font-size: 16px;
    width: 25%;
}

.condicao label {
    display: none;
}

.condicao label:has(input:checked) {
    display: block;
}

fieldset:hover {
    border-color: var(--border);
}
