*{
    /* outline: red solid 1px; */
    /* text-align: center; */
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.form-add{
    width: 45%;
}

.campo{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.campo.frete_gratis{
    flex-direction: row;
}

.campo input, textarea{
    font-size: 16px;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid lightgray;
}

textarea {
    height: 100px;
}

fieldset {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    
}

.campo label {
    text-align: left;
    font-size: 15px;
    color: rgb(9, 9, 9);
    padding: 0 0 2px 8px;
}

#botoes {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#enviar, #resetar{
    width: 50%;
    margin: 3px;
    padding: 5px;
}