*{
    /* outline: red solid 1px; */
    /* text-align: center; */
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.form-add{
    width: 66%;
    margin: 50px;
}

.campo{
    display: flex;
    flex-direction: column;
    margin: 30px 10px;
}

.campo.frete_gratis{
    flex-direction: row;
}

.campo input, textarea{
    font-size: 16px;
    padding: 5px;
    border-radius: 7px;
}

textarea {
    height: 100px;
}

fieldset {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--border);
    background-color: var(--card);
}

#botoes {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#enviar, #resetar{
    width: 50%;
    margin: 3px;
    padding: 5px;
}