@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg: #0d141b;
    --card: #141A21;
    --fg: #D8E1E8;
    --text: #c6cbce;

    --primaria: #29D3E8;
    --primaria2: #007bff;

    --sucesso: #3DF57F;
    --aviso: #F5C039;
    --erro: #FF4C4C;
    --desativado: #CCCCCC;

    --border: #22303B;
    --border-focus: #29D3E8;
}


input, textarea, .condicao{
    border: solid var(--border);
    outline: none;
}

input:focus, textarea:focus {
    border-color: var(--border-focus);
}

input[type="checkbox"], input[type="radio"], input[type="checkbox"]:disabled {
    accent-color: var(--primaria);
    color: red;
}

p {
    color: var(--text);
}

a{
    color: var(--primaria);
    font-style: none;
    text-decoration: none;
}

a.remove{
    color: var(--erro);
}

a.pagina{
    margin: 2px;
}

a.pagina.atual{
    color: var(--fg);
}

a:hover{
    color: var(--primaria2);
}

input[type=reset] {
    cursor: pointer;
    font-weight: bold;
}

input[type=reset]:hover {
    background-color: var(--aviso);
    color: var(--bg);
}

input[type=submit] {
    font-weight: bold;
    background-color: var(--primaria);
    color: var(--bg);
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--primaria2);
}

ol > li{
    padding-top: 20px;
}

ul li:not(.menu li) {
    padding-top: 5px;
}

label {
    font-weight: bold;
    background-color: var(--card);
    text-align: left;
    font-size: 15px;
    padding: 0 0 2px 8px;
}

* {
    background-color: var(--bg);
    color: var(--fg);
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background-color: var(--primaria);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 20px;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(23, 23, 24, 0.803);
    margin-bottom: 10px;
}

.menu a:hover {
    background-color: var(--primaria2);
}

.menu * {
    background-color: var(--primaria);
    color: var(--bg);
}

.menu a{
    text-decoration: none;
    font-weight: Bold;
    height: 100%;
    display: block;
    padding:10px;
}

.menu li{
    padding: 0 10px 0 10px;
    text-align: center;
    height: 100%;
    min-width: 100px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}